*{
    margin: 0px;
    padding: 0px;
}
.hide{
    display: none;
}
body{
    margin-top:20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
   text-align: center; 
   font-size: 42px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #EDE8E4;
   text-decoration: #EDE8E4 underline;
   margin-bottom: 10px;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: black;
    border: 10px solid #284177;
    
}
#start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #284177;
    width: fit-content;
    height: 50px;
    color: #EDE8E4;
    padding: 10px;
    margin-top: 10px;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    font-size: 35px;  
    text-decoration: underline;                
}
#start-button:hover{
    background-color: #88a7ee;
    color: black;
}
.btn-grid{
   padding-top: 20px;
   display: grid;
   grid-template-columns: repeat(1,200px);
   gap: 10px;
   justify-content: center;
}
.btn{
    background-color:#284177 ;
    color:#EDE8E4;
    width: 200px;
    height: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn:hover{
    background-color: #88a7ee;
    color: black;
}
#timer{
   display: flex;
   color:#EDE8E4;
   font-size: 30px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
   
}

footer{
    margin-top: -40px;
    bottom: 10px;
    height: fit-content;
    width: 500px;
    display: flex; 
    justify-content: flex-end;

}
p{
    color: #EDE8E4;
    background-color:#284177 ;
    margin: 0 20px 0 20px;
    padding: 10px;
    width: fit-content;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}